@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  background-color: #22272eff;
  font-family: 'Ubuntu', sans-serif;
}
.title {
  text-align: center;
  color: #c5c9c9;
}
